@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\000031}}
.form-group {
  height: 80px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\000036}}
.list-group-item {
  display: flex !important;
  flex-flow: column;
  margin-bottom: 25px !important;
  word-break: break-all;
  align-items: center;
  text-transform: capitalize; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000313}}
  .list-group-item .task-info {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000320}}
    .list-group-item .task-info .task-text-value {
      margin-right: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000322}}
      .list-group-item .task-info .task-text-value:disabled {
        background-color: #fff !important;
        border: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000327}}
    .list-group-item .task-info .doneClass {
      text-decoration: line-through; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000330}}
    .list-group-item .task-info .delete-btn {
      margin-left: 10px;
      width: 25px;
      height: 25px;
      padding: 0 !important;
      border-radius: 50% !important;
      position: absolute;
      right: -9px;
      top: -13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000340}}
    .list-group-item .task-info .edit-btn {
      height: 31px !important;
      line-height: 0;
      font-size: 14px;
      width: 73px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000346}}
    .list-group-item .task-info .task-date {
      position: absolute;
      top: 4px;
      color: #dc3545;
      font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000353}}
  .list-group-item .edit-select-div {
    display: flex;
    flex-flow: column;
    align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000357}}
    .list-group-item .edit-select-div button {
      width: 100px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000360}}
    .list-group-item .edit-select-div select {
      width: 100px !important;
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000366}}
  .list-group-item .form-end-data {
    display: flex;
    align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000369}}
    .list-group-item .form-end-data label {
      white-space: nowrap;
      margin-right: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000375}}
  .list-group-item .bottom-info p span {
    background: red;
    padding: 0px 4px;
    border-radius: 5px;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/project\/todo-list\/css\/style\.scss}line{font-family:\0000380}}
    .list-group-item .bottom-info p span:empty {
      background: #fff; }

/*# sourceMappingURL=style.css.map */
